<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.speedreader"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
  
  <name>SpeedReader</name>

  <description>
      An application to improve your reading efficiency.
  </description>

  <author href="https://build.phonegap.com" email="toshichauhan29@yahoo.in">
      Mansi Chauhan
  </author>

</widget>
